[app:kibra]
use = egg:kibra
reload_templates = true
debug_authorization = false
debug_notfound = false
debug_routematch = false
debug_templates = true
default_locale_name = en
sqlalchemy.url = postgresql://user:passwd@localhost:5432/kibra
mako.directories = kibra:templates
mako.module_directory = /tmp/kibra_templates
mako.strict_undefined = true
auth.secret = test
auth.admin_password =

[pipeline:main]
pipeline =
    egg:WebError#evalerror
    tm
    kibra

[filter:tm]
use = egg:repoze.tm2#tm
commit_veto = repoze.tm:default_commit_veto

[server:main]
use = egg:Paste#http
host = 0.0.0.0
port = 6543

# Begin logging configuration

[loggers]
keys = root, kibra, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_kibra]
level = DEBUG
handlers =
qualname = kibra

[logger_sqlalchemy]
level = WARN
#level = INFO
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

# End logging configuration
